# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Terraform crash logs
crash.log

# .terraform directory
.terraform/

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc